.usernameContainter div {
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.usernameContainter div *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.usernameContainter div h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.usernameContainter label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.usernameContainter input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.usernameContainter button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .usernameContainter div {
        height: 400px;
        width: 300px;
        top: 45%;
    }

    .usernameContainter button  {
        position: relative;
        top: 1vh;
    }

    .usernameContainter div h3 {
        position: relative;
        top: -2vh;
        font-size: 26px;
    }
    
}