#opsHistory {
    position: relative;
    display: grid;
    grid-template-columns: 25% 50% 12.5% 12.5%;
    height: 100px;
    width: 400px;
    column-gap: 10px;
    top: 230px;
    margin-left: auto;
    margin-right: auto;

}

#inputExercise {
    margin-top: 10px;
}

#labelsHistory {
    display: grid;
    position: relative;
    top: 10px;
    left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col3History, .col4History {
    display: grid;
    grid-template-rows: 50% 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col3History button {
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col4History button {
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    position: relative;
    left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
    #opsHistory {
        position: relative;
        display: grid;
        grid-template-columns: 25% 50% 12.5% 12.5%;
        height: 100px;
        width: 400px;
        column-gap: 10px;
        top: 150px;
        left: 0px;
        /* margin-left: 0;
        margin-right: auto; */
    }

    #labelsHistory {
        font-size: 14px;
        left: 10px;
    }

    #textFields {
        position: relative;
        width: 150px;
        left: -10px;
    }

    .col3History, .col4History{
        position: relative;
        left: -60px
    }
}
